body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E2C2B3;
    min-height: 100vh;
}

header {
    background-color: #EED6C2;
    color: #333;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    letter-spacing: 2px;
}

nav {
    background-color: #C29A74;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a, a {
    color: #F7F3F5;
    text-decoration: none;
    padding: 15px;
    font-size: 1.2rem;
    display: inline-block;
    border-radius: 10px;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a.active {
    background-color: #E2C2B3;
    color: black;
}

nav a:hover {
    background-color: #E2C2B3;
    color: #000000;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.content .post {
    width: 30%;
    background-color: #FFDBBB;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.post img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
    border-radius: 10px;
}

.post .text {
    padding: 15px;
}

.post .text h3 {
    font-size: 1.5rem;
    margin: 0 0 10px;
    text-align: center;
}

.post .text p {
    font-size: 1rem;
    color: #555;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

img:hover img {
    transform: scale(1.1);
}

.post {
    padding: 10px;
}

.about-section {
    display: none;
    background-color: #FFDBBB;
    padding: 40px;
    text-align: center;
    margin-top: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.about-section h2 {
    font-size: 2rem;
    color: #000000;
}

.about-section p {
    font-size: 1rem;
    color: #000000;
    line-height: 1.8;
    margin-top: 20px;
}

.section-contact {
    background-color: #FFDBBB;
    padding: 40px;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.section-contact h2 {
    font-size: 2rem;
    color: #000000;
}

.section-contact .container {
    text-align: left;
    display: inline-block;
    margin-top: 30px;
}

.section-contact a {
    text-decoration: none;
    color: #000000;
}

.section-contact a:hover {
    text-decoration: underline;
}

footer {
    background-color: #C29A74;
    color: white;
    text-align: center;
    padding: 2px;
    width: 100%;
}

h2 {
    margin: 8px;
}

.social-icons {
    margin-top: 20px;
    text-align: center;
}

.social-icons a {
    color: black;
    margin: 0 10px;
    font-size: 30px;
    transition: color 0.3s, font-size 0.3s;
}

.social-icons a:hover {
    color: #C29A74;
}
i{
    margin-right: 10px;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.text h1 {
    font-size: 2rem;
    line-height: 1.5;
    color: black;
    margin-top: 80px;
    text-align: center;
}

.img {
    transition: transform 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.outline-btn {
    display: flex;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outline-btn:hover {
    background-color: #C29A74;
    color: #fff;
    border-color: #C29A74;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    position: relative;
}

nav a {
    color: #F7F3F5;
    text-decoration: none;
    padding: 15px;
    font-size: 1.2rem;
    display: inline-block;
    border-radius: 10px;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s;
    position: relative; 
}

nav .material-symbols-outlined {
    margin-left: 8px;
    vertical-align: middle; 
    font-size: 1.2rem; 
}

nav li:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0; 
    background-color: #C29A74;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 180px; 
}

.dropdown li {
    display: block;
    text-align: left;
}

.dropdown a {
    padding: 10px 20px;
    font-size: 1rem;
    color: #F7F3F5;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #E2C2B3;
    color: black;
}